<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default.html}"
>
<head>
    <title>Friend Request</title>
</head>
<body>
    <table>
        <tr>
            <td layout:fragment="content" style="padding:0;">
                <table>
                    <tr>
                        <td>Company:</td>
                        <td th:text="${item.member.company.name}">Company name</td>
                    </tr>
                    <tr>
                        <td>Member Name:</td>
                        <td th:text="TBD"></td>
                    </tr>
                    <tr>
                        <td>Friend Name:</td>
                        <td th:text="TBD"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>